In [2]:
import os
import sys
sys.path.append("/home/acamassa/ABCD/DDC/src")
from Labels import Labels
import pandas as pd
import pickle

In [9]:
test=Labels()

In [12]:
test.df

NDARINV0AHJHA5D    0
NDARINV0HALXUFY    0
NDARINV0JR6Y529    0
NDARINV0T5DCF9K    0
NDARINV0UPVEC1J    0
                  ..
NDARINVT1C2GBHB    1
NDARINVPV9BEEKH    1
NDARINVWX21FUMG    1
NDARINVYEFA2634    1
NDARINVY2DXN8WF    1
Name: depress_dsm5, Length: 1319, dtype: int64

In [13]:
test.save_df()

In [2]:
import pandas as pd
df=pd.read_csv("/cnl/abcd/data/labels/year2-bin-healthy-depress.csv")

In [3]:
df

           Unnamed: 0  depress_dsm5
0     NDARINV0AHJHA5D             0
1     NDARINV0HALXUFY             0
2     NDARINV0JR6Y529             0
3     NDARINV0T5DCF9K             0
4     NDARINV0UPVEC1J             0
...               ...           ...
1314  NDARINVT1C2GBHB             1
1315  NDARINVPV9BEEKH             1
1316  NDARINVWX21FUMG             1
1317  NDARINVYEFA2634             1
1318  NDARINVY2DXN8WF             1

[1319 rows x 2 columns]

In [29]:
x=df.values.T.astype(str).tolist()[0]
with open("/cnl/abcd/data/labels/year2_depr_guids.txt", "w") as output:
    for i in x:
        output.write(f"{i}\n")

In [1]:
import h5py
filename = "/home/acamassa/ABCD/EDM/kEDM/data/data_kEDM_1.h5"

with h5py.File(filename, "r") as f:
    # Print all root level object names (aka keys) 
    # these can be group or dataset names 
    print("Keys: %s" % f.keys())
    # get first object name/key; may or may NOT be a group
    a_group_key = list(f.keys())[0]

    # get the object type for a_group_key: usually group or dataset
    print(type(f[a_group_key])) 

    # If a_group_key is a group name, 
    # this gets the object names in the group and returns as a list
    data = list(f[a_group_key])

    # If a_group_key is a dataset name, 
    # this gets the dataset values and returns as a list
    data = list(f[a_group_key])
    # preferred methods to get dataset values:
    ds_obj = f[a_group_key]      # returns as a h5py dataset object
    ds_arr = f[a_group_key][()]  # returns as a numpy array

Keys: <KeysViewHDF5 ['kEDM']>
<class 'h5py._hl.dataset.Dataset'>

In [6]:
ds_arr.shape

(383, 107352)